<!doctype html>
<html>
<head>
    <title>checkmarc : {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>

    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="row">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">checkmarc</a>
                    <ul class="nav">
                        <li {% ifequal request.path "/" %} class="active" {% endifequal %}><a href="/">Home</a></li>
                        <li {% ifequal request.path "/myreports/" %} class="active" {% endifequal %}><a rel="nofollow" href="/myreports/">My Reports</a></li>
                        <li {% ifequal request.path "/report/list/" %} class="active" {% endifequal %}><a href="/report/list/">Browse Reports</a></li>
                        <li {% ifequal request.path "/report/add/" %} class="active" {% endifequal %}><a href="/report/add/">Create Report</a></li>
                        <li {% ifequal request.path "/checks/" %} class="active" {% endifequal %}><a href="/checks/">Checks</a></li>
                        <li {% ifequal request.path "/about/" %} class="active" {% endifequal %}><a href="/about">About</a></li>
                    </ul>
                    <ul class="secondary-nav">
                        {% if user.is_authenticated %}
                            <li>

                                    <img class="tiny-avatar" src="{{ user.profile.pic_url }}">
                                    {{ user.username }}

                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        {% else %}
                            <li><a href="/login">Login</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <footer id="footer">
            <div class="container">
            </div>
        </footer>

    </div>
</div>

</body>
</html>
