{% extends 'base.html' %}
{%  load widget_tweaks %}
{%  block extra_head %}
    <script type="text/javascript">
    $(document).ready(function(){
        $("div.check:even").on('load', function(){
            $(this).addClass("even");
        });
        $("div.check:odd").on('load', function(){
            $(this).addClass("odd");
        });

    })
    </script>
{% endblock extra_head %}

{% block page-header %} Create a new report {% endblock %}
{% block content %}
{% if report_form %}

    <form class="form-inline" action="{% if form.instance.pk %}report/edit/{{ form.instance.pk }}/{% endif %}" method="post">{% csrf_token %}
        <div class="report-fields span12">
            <fieldset class="report">
                <legend>Report info</legend>
                {{ report_form.title|attr:"placeholder:Report Title"|add_class:"span4"}}
                {{ report_form.description|attr:"placeholder:Report Description"|attr:"rows:1"|add_class:"span8" }}
            </fieldset>
        </div>
        {% if checks %}
            {{ checks.management_form }}
            <fieldset class="check">
            <legend>Checks</legend>
                {% for check in checks  %}
                    {{ check.id }}

                <div class="check clearfix span12" >

                    <div class="span11 pull-left">
                           <table>

                               <tr>
                            <td>{{ check.leader.errors }}
                            {{ check.leader|attr:"placeholder:Leader"|add_class:"input-small" }}
                            </td>
                            <td>
                                {{ check.field.errors }}
                            {{ check.field|attr:"placeholder:Field"|add_class:"input-small" }}
                            </td>
                            <td>
                                   {{ check.subfield.errors }}
                            {{ check.subfield|attr:"placeholder:Subfield"|add_class:"input-small" }}
                            </td>
                            <td>
                                {{ check.indicator.errors }}
                            {{ check.indicator|attr:"placeholder:Indicator"|add_class:"input-medium" }}
                            </td>
                            <td>
                               {{ check.operator.errors }}
                            {{ check.operator }}
                            </td>
                            <td>
                                {{ check.values.errors }}
                            {{ check.values|attr:"placeholder:Value(s)"|add_class:"input-small" }}
                            </td>
                               </tr>
                           </table>


                    </div>
                    <div class="pull-left">
                <a class="remove btn btn-danger btn-small">X</a>
                    </div>
                </div>

                {% endfor %}

            </fieldset>

            <fieldset>
            <input type="button" value="Add Another Check" id="add_more">
            <script>
                $('#add_more').click(function() {
                    cloneMore('div.check:last', 'checks');
                });
            </script>


        <input type="submit" value="Submit" />

        </fieldset>
        {% endif %}
</form>
<script type="text/javascript">
    function cloneMore(selector, type) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + type + '-TOTAL_FORMS').val();
      newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
      });
      newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
      });

      total++;
      newElement.find("span.check-number").text(total);
        $('#id_' + type + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
    }

    function removeMore(selector, type){
        $(selector).remove();
        total_forms = $('#id_' + type + '-TOTAL_FORMS');
        total_forms.val(total_forms.val() -1);
    }


    $('a.remove').on('click',function(){
      if ($("div.check").length > 1){
        check = $(this).closest(".check");
          console.log(check);
        removeMore(check, 'checks');
      }
       else { alert("Add an alert about not deleting only check");}
    });



</script>
{% endif %}
{% endblock %}