<div class="report-list span10">
    <h4>
        <a href="/report/{{ report.pk }}/" class="it">{{ report.title }}</a>  - <small>{{ report.description }}</small>
    </h4>

        <h5 class="span10">Checks</h5>
          <ul class="span9">
            {%  for check in report.checks.all %}
              <li>{{ check }}</li>
            {% endfor %}
          </ul>

<div class="btn-group span">
    <button class="btn" ><a href="/report/{{ report.pk }}/run/">Run report</a></button>
    <button class="btn" ><a href="/report/{{ report.pk }}/edit/">Edit report</a></button>
    <button class="btn disabled" ><a href="/report/{{ report.pk }}/fork/">Fork report</a></button>
</div>

</div>
