{% extends 'base.html' %}
{%  load widget_tweaks %}

{% block content %}
    <h1>Create a new report</h1>
{% if report_form %}

<form action="{% if form.instance.pk %}report/edit/{{ form.instance.pk }}/{% endif %}" method="post">{% csrf_token %}
    <div class="report-fields">
        <fieldset>
            <div class="pull-left">{{ report_form.title.label }}  {{ report_form.title }}</div>
            <div class="pull-left">{{ report_form.description.label }}  {{ report_form.description }}</div>
        </fieldset>
    </div>
    {% if checks %}
        {{ checks.management_form }}
        {% for check in checks  %}
            <fieldset class="check">
               <div class="pull-left">
                   <div class="pull-left">
                       {{ check.title|attr:"placeholder:Title"|add_class:"input-small" }}
                   </div>
                   <div class="pull-left">{{ check.description|attr:"placeholder:Description"|attr:"rows:3" }}</div>
               </div>
                <div class="pull-left short">{{ check.field.label}}{{ check.field }}</div>
                <div class="pull-left short">{{ check.subfield.label }}{{ check.subfield }}</div>
                <div class="pull-left short">{{ check.indicator.label  }}{{ check.indicator }}</div>
                <div class="pull-left short">{{ check.operator.label  }}{{ check.operator }}</div>
                <div class="pull-left short">{{ check.values.label }}{{ check.values }}</div>

            </fieldset>
        {% endfor %}

    {% endif %}
    <input type="submit" value="Submit" />
</form>

{% endif %}
{% endblock %}