{% extends 'base.html' %}
{%  load widget_tweaks %}

{% block content %}
    <h1>Create a new report</h1>
{% if report_form %}

<form class="form-inline" action="{% if form.instance.pk %}report/edit/{{ form.instance.pk }}/{% endif %}" method="post">{% csrf_token %}
    <div class="report-fields">
        <fieldset>
           {{ report_form.title|attr:"placeholder:Report Title"}}
            {{ report_form.description|attr:"placeholder:Report Description"|attr:"rows:3" }}
        </fieldset>
    </div>
    {% if checks %}
        {{ checks.management_form }}>
        {% for check in checks  %}
            <div class="check clearfix" style="width: 100%;">
            <div class="pull-left"><p>Check <span class="check-number">{{ forloop.counter }}</span></p></div>
            <div class="pull-left">
            <fieldset class="check">
                {{ check.title|attr:"placeholder:Title"|add_class:"input-small" }}
                {{ check.description|attr:"placeholder:Description"|attr:"rows:3" }}
            </fieldset>
            <fieldset class="check">
                    {{ check.field|attr:"placeholder:Field"|add_class:"input-small" }}
                    {{ check.subfield|attr:"placeholder:Subfield"|add_class:"input-small" }}
                    {{ check.indicator|attr:"placeholder:Indicator"|add_class:"input-small" }}
                    {{ check.operator|attr:"placeholder:Operator" }}
                    {{ check.values|attr:"placeholder:Value(s)"|add_class:"input-small" }}

            </fieldset>
            </div>
            </div>
        {% endfor %}
        <input type="button" value="Add More" id="add_more">
        <script>
            $('#add_more').click(function() {
                cloneMore('div.check:last', 'checks');
            });
        </script>

    {% endif %}
    <input type="submit" value="Submit" />
</form>
<script type="text/javascript">
    function cloneMore(selector, type) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + type + '-TOTAL_FORMS').val();
      newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
      });
      newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
      });
        newElement.find("span.check-number").text(total);
      total++;
      newElement.find("span.check-number").text(total);
      $('#id_' + type + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
    }

</script>
{% endif %}
{% endblock %}