#content {
    margin-top: 50px;
}


.description {
    padding: 10px;
}

.actions > div{
    float: left;;
}

.left {
    float: left;
}

div.check {
margin: 5px auto;
}

div.report-list {
    border-bottom: 1px dashed #666;
    margin-bottom: 5px;
}

fieldset.report {
    background-color: #eee;
}